/* start variables */
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --secton-padding:60px;
    --section-background:#f6f6f6;
    --third-color:#777;
}
/* end variables */








/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "work sans ,sans-serif";
}

.container {
margin:0 auto;
padding:0px 15px;
}
/* small */
@media (min-width:768px){
    .container {
        width: 750px;
    }
}
/* medium screen */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* large screen */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* ent global rules */
/* start components */
.special-heading {
    color:#ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    font-family: sans-serif;
}
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media(max-width:767px){
    .special-heading {
        font-size:60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* end components */
/* start header */
.header {
    padding:20px;
    
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}
.header .links .icon span:nth-child(3) {
width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul {
    display: block;
}
.header .links ul::before {
    content:"";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top:-20px;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition:.3s ;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* end header */
/* start landing sector */
.landing {
    background-image: url(../images/pic2\ \(2\).jpg);
    background-size: cover;
    height: calc(100vh - 50px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
margin: 0;
font-size: 3rem;
font-weight: bold;
color:var(--main-color);


}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* end landing sector */
/* start features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
    grid-gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color:var(--main-color);

}
.features .feat h3 {
    font-weight: 800;
    font-family: sans-serif;
    margin: 30px 0;

}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 18px;

}
/* end features */
/* start services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    grid-gap:30px;
    margin-top:100px ;
}
.services .container .col .image img {
    width: 260px;
    height: 340px;
}
.services .container .col .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}
.services .container .col .image {
        text-align: center;
        position: relative;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color:var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex:1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
    font-family: sans-serif;
}
.services .services-content .srv .text p {
    color:#444;
    font-weight: 300;
    line-height: 1.6;
}
/* end services */
/* strat protfolio */
.protfolio{
    padding-top: var(--secton-padding);
    padding-bottom: var(--secton-padding);
    background-color: var(--section-background);

}
.protfolio .protfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:30px;
    margin-top: 80px;
}
.protfolio .protfolio-content .card img {
    max-width: 100%;
}
.protfolio .protfolio-content .card{
    background-color: white;
}
.protfolio .protfolio-content .card .info {
    padding: 20px;
}
.protfolio .protfolio-content .card .info h3{
    margin: 0;
}
.protfolio .protfolio-content .card .info p{
    color: var(--third-color);
    line-height: 1.6;
    margin-bottom: 0;
}
/* end protfolio */
/* about start-section  */
.about {
    padding-top: var(--secton-padding);
    padding-bottom: calc(var(--secton-padding)+ 60px);

}
.about .image img{
    max-width: 100%;
}

.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width:991px){
.about .about-content .image{
    margin: 0 auto 60px;
}
}
.about .about-content .image::before {
    content: '';
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after{
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}
@media (max-width:991px) {
.about .about-content .image::before,
.about .about-content .image::after{
    display: none;
}

    
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    font-family: sans-serif;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    width: 50%;
    /* display: inline-block; */
    border-color: var(--main-color);

}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
    font-family: sans-serif;
}

/* about end-section */
/* start footer */
footer {
    width: 100%;
    margin-top: 180px;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    

}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-family: sans-serif;
}

.row .col{
    flex-basis: 25%;
    padding: 10px;
    align-items: center;
}
.row .col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.row .col .logo {
    width: 180px;
    margin-bottom: 30px;
}
.col h3 {
    width: fit-content;
    margin-bottom: 120px;
    position: relative;
}
.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li {
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: white;
    
}
form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far {
    font-size:18px;
    margin-right: 10px;
}
form input {
    width: 100%;
    background: transparent;
    color:#ccc;
    border: 0;
    outline: none;
}
form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas {
    font-size: 16px;
    color: #ccc;
}
.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
.row .col p {
    line-height: 30px;
    font-family: sans-serif;
    margin:0 20px 0 0;
    padding-right: 25px;
    
}
#head-links {
    padding-left: 30px;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright {
    text-align: center;
}
.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span {
width: 15px;
height: 100%;
border-radius: 3px;
position: absolute;
top: 0;
left: 10px;
background: #fff;
animation: moving 2s linear infinite;
}
@keyframes moving {
    0%{
        left:-20px;
    }
    100% {
    left: 100%;
    }
}
@media (max-width:700px){
    footer{
        bottom: unset;
    }
.row .col {
    flex-basis: 100%;
}

.row .col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 100%;
}
}
.row .col #head-links .underline {
    padding-left: 100px;
}